In [1]:
import pandas as pd
import requests
from datetime import datetime, timedelta

In [2]:
url = "http://127.0.0.1:8000/api/stock/date_range/?from=2024-11-01&to=2024-11-04"

In [3]:
response = requests.get(url)

In [4]:
stock_data = response.json()
df = pd.DataFrame(stock_data)

In [5]:
df

,trading_date,stock_code,opening_price,closing_price,highest_price,lowest_price,trading_volume,trading_amount,price_range,price_change_percentage,price_change_amount,turnover_rate
0,2024-11-01,831726,10.97,14.65,14.65,10.60,146679,1.945922e+08,35.94,29.99,3.38,26.23
1,2024-11-01,871634,18.44,24.75,24.75,18.44,105834,2.444539e+08,33.14,29.99,5.71,32.29
2,2024-11-01,836961,25.20,32.21,32.21,25.20,76807,2.316752e+08,28.29,29.98,7.43,37.24
3,2024-11-01,836807,10.35,13.18,13.18,10.21,347107,4.273135e+08,29.29,29.98,3.04,35.74
4,2024-11-01,873305,25.48,31.92,31.92,25.48,87157,2.601832e+08,26.22,29.97,7.36,24.03
...,...,...,...,...,...,...,...,...,...,...,...,...
5343,2024-11-01,430139,35.98,29.55,36.99,29.33,282826,9.221857e+08,20.62,-20.46,-7.60,10.85
5344,2024-11-01,837212,18.69,16.70,20.00,16.64,121171,2.268032e+08,16.00,-20.48,-4.30,23.22
5345,2024-11-01,834415,22.08,18.02,22.15,17.85,189604,3.718042e+08,18.89,-20.83,-4.74,14.11
5346,2024-11-01,833346,28.17,23.16,29.20,23.00,83575,2.177909e+08,21.02,-21.49,-6.34,30.87
5347,2024-11-01,920066,42.00,40.68,46.68,40.40,66976,2.859128e+08,11.96,-22.54,-11.84,55.67